* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .container {
    display: flex;
  }
  nav {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #fff;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  li {
    list-style: none;
  }
  .DashBoard {
    margin: 4px 0 25px 30px;
  }
  .DashBoard span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
    cursor: pointer;
  }
  nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
  }
  .nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
  }
  a:hover {
    background: #eee;
  }
  .logout {
    position: absolute;
    bottom: 0;
  }
  .main {
    position: relative;
    padding: 20px 20px 20px 50px;
    width: 100%;
  }
  /* Notification Bell */
  .notification {
    position: relative;
  }
  
  .fa-circle {
    position: absolute;
    color: red;
    right: 30px;
    font-size: 20px;
  }
  
  .fa-bell {
    font-size: 50px;
  }
  
  .fa-bell:hover {
    rotate: 30deg;
  }
  .fa-bell:active {
    scale: 0.9;
  }
  